/* Estilos generales del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 20px; /* Más redondeado */
  width: 600px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Más sombra para resaltar */
  position: relative;
}

.error-text {
  color: rgb(221, 56, 56);
  font-size: 0.9em;
  margin-top: 4px;
}

/* Estilos del header */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #ffd782; /* Fondo amarillo cálido */
}

.modal-header h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #5a3c00; /* Texto marrón */
}

/* Estilos del body */
.modal-body {
  padding: 20px 0;
}

.form-group {
  margin-bottom: 20px;
  background-color: #fff6da; /* Fondo amarillo pastel */
  padding: 15px;
  border: 2px solid #ffd700; /* Borde amarillo */
  border-radius: 15px; /* Bordes redondeados */
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 95%;
  padding: 10px;
  font-size: 1rem;
  color: #1d1d1d;
  background: transparent;
  border: 1px solid #ccc; /* Línea inferior sutil */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #ffd700; /* Color amarillo al enfocarse */
}

.form-group input::placeholder {
  color: #aaa;
}

/* Estilos de la grilla de iconos */
.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Distribución en 4 columnas */
  gap: 15px; /* Espaciado entre los botones */
  justify-items: center;
  margin-bottom: 20px;
}

.icons-grid-button {
  width: 60px; /* Tamaño de los botones circulares */
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffd700;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.icons-grid-button span {
  font-size: 30px; /* Tamaño del emoji */
}

.icons-grid-button.active {
  background-color: #f35e28; /* Color naranja al seleccionar */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
  transform: scale(1.1); /* Ligeramente más grande */
}

.icons-grid-button:hover {
  background-color: #f5a623; /* Cambia a un tono más oscuro al pasar el cursor */
  transform: scale(1.1); /* Efecto de aumento */
}

/* Estilos del footer */
.modal-footer {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  gap: 15px; /* Espaciado entre botones */
}

.create-button {
  background-color: #ffdd77;
  padding: 12px 30px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.create-button:hover {
  background-color: #f0c44f; /* Más oscuro en hover */
}

.close-button {
  background-color: #ea6382;
  padding: 12px 30px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
  background-color: #ba3e5b;
}
