.home-graphic {
    padding: 20px;
    margin: auto;
    text-align: center;
  }
  
  .home-graphic h2 {
    font-size:   24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .home-graphic .total-amount {
    background-color: #f0c14bb7;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .home-graphic .total-amount h3 {
    color: #333;
    font-size: 22px;
  }
  
  .home-graphic img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  