/* Estilos generales del modal */
.create-wallet-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.create-wallet-modal {
  background-color: #fff;
  border-radius: 15px;
  width: 500px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos del header */
.create-wallet-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3c2c2;
  padding: 20px;
  width: 104%;
  margin: -10px -10px 0 -10px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.create-wallet-modal-header h2 {
  margin: 0;
  font-size: 1.6rem;
  color: #333;
}

.create-wallet-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-wallet-modal-body {
  padding: 20px;
}

.create-wallet-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-wallet-form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.create-wallet-cantidad-input {
  width: 40%;
  padding: 7px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
}

.create-wallet-cantidad-input:focus {
  border-color: #333;
}

.create-wallet-nombre-input {
  width: 70%;
  padding: 7px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
}

.create-wallet-nombre-input:focus {
  border-color: #333;
}

/* Estilos para los íconos */
.create-wallet-icons-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.create-wallet-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 60%;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.create-wallet-icon:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

/* Estilo para el ícono seleccionado */
.create-wallet-icon.selected {
  background-color: #FFDD77;
  border: 2px solid #FFAA33;
  transform: scale(1.2);
}

/* Estilos del footer */
.create-wallet-modal-footer {
  text-align: center;
  justify-content: center;
}

.create-wallet-create-button {
  background-color: #FFDD77;
  padding: 12px 30px;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
  color: #333;
}

.create-wallet-create-button:hover {
  background-color: #f0c44f;
}
