.read-wallet-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.read-wallet-modal {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.read-wallet-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-wallet-modal-header h2 {
  margin: 0;
}

.read-wallet-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.read-wallet-modal-body {
  padding: 10px 0;
}

.read-wallet-modal-footer {
  display: flex;
  justify-content: space-between;
}

.read-wallet-delete-button, .read-wallet-edit-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.read-wallet-delete-button {
  background-color: #FF6B6B;
  color: white;
}

.read-wallet-edit-button {
  background-color: #FFDD77;
}

/* Estilo del mensaje de éxito */
.success-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  z-index: 1100;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}

/* Estilo del diálogo de confirmación */
.confirmation-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.confirmation-dialog {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.confirmation-dialog p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #333;
}

.confirmation-dialog-buttons {
  display: flex;
  justify-content: space-between;
}

.confirmation-dialog-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-dialog-cancel:hover {
  background-color: #d32f2f;
}

.confirmation-dialog-confirm {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-dialog-confirm:hover {
  background-color: #388e3c;
}

